.chart{
	div {
		font: 10px sans-serif;
		background-color: steelblue;
		text-align: right;
		padding: 3px;
		margin: 1px;
		color: white;
	}
}

//From TypeScript Demo:
svg {
    font-family: "Segoe UI", sans-serif;
}
.day {
    stroke: #ccc;
}

.pass {
    fill: rgb(0, 166, 0);
}

.fail {
    fill: rgb(255, 83, 0);
}

.hashes line {
    stroke: #000; stroke-width: 2;
}

.tick {
    stroke: #000; stroke-width: 2;
}

.axis path {
    stroke: #000; stroke-width: 2;
}
body {
    font-family: 'Segoe UI';
}