.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white; }

svg {
  font-family: "Segoe UI", sans-serif; }

.day {
  stroke: #ccc; }

.pass {
  fill: #00a600; }

.fail {
  fill: #ff5300; }

.hashes line {
  stroke: #000;
  stroke-width: 2; }

.tick {
  stroke: #000;
  stroke-width: 2; }

.axis path {
  stroke: #000;
  stroke-width: 2; }

body {
  font-family: 'Segoe UI'; }
